body {
  background-color: black;
  font-family: sans-serif;
}
#content {
  display: block;
  width: 400px;
  height:auto;
  margin: 40px auto 0 auto;
  background-color: #008080;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
li {
  display: block;
  list-style-type: none;
  margin-left: -40px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  padding: 10px 0 10px 0px;
  opacity: 0.7;
}
li:hover {
  opacity: 1;
  font-weight: bold;
  font-size: 22px;
  padding: 20px 0 20px 0;
}
li:first-child {
  border-top-left-radius: 10px;
}
li:nth-child(odd) {
  background-color: #DDA0DD;
}
li:nth-child(even) {
  background-color: #008080;
}
li:nth-child(even):hover {
  background: linear-gradient(#0e4f4f, #008080, #0e4f4f); /* Standard syntax */
}
li:nth-child(odd):hover {
  background: linear-gradient(#997b99, #DDA0DD, #997b99); /* Standard syntax */
}
